services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: "etodo"
      MYSQL_ROOT_PASSWORD: admin
    volumes:
      - ./e-todo.sql:/docker-entrypoint-initdb.d/e-todo.sql

  api:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
